venv/
doc/_build/
PennyLane_lightning.egg-info/
build/
dist/
tests/__pycache__/
.idea
*.ipynp
*.ipynb_checkpoints
__pycache__
.pytest_cache/
coverage_html_report/
.coverage
doc/code/
*.so
cpptests
*.o
