venv/
kokkos/
kokkosKernels/
prototypes/
doc/_build/
PennyLane_Lightning_Qubit.egg-info/
PennyLane_Lightning_Kokkos.egg-info/
build/
Build/
BuildCov/
BuildGBench/
BuildTests/
BuildTidy/
dist/
tests/__pycache__/
.idea
*.ipynp
*.ipynb_checkpoints
__pycache__
.pytest_cache/
coverage_html_report/
.coverage
*.so
cpptests
*.o
.DS_Store
.cache/*
.vscode/
.ycm_extra_conf.py
/.vs
/pennylane_lightning/.vs
/pennylane_lightning/*.pyd
/pennylane_lightning/src/Kokkos/
/pennylane_lightning/src/GBenchmarks/