include CMakeLists.txt
include cmake/*
include requirements.txt
include .github/CHANGELOG.md
include pennylane_lightning/lightning_qubit/lightning_qubit.toml
include pennylane_lightning/lightning_gpu/lightning_gpu.toml
include pennylane_lightning/lightning_kokkos/lightning_kokkos.toml
include pennylane_lightning/core/_version.py
graft pennylane_lightning/core/src/
