pytest>=7.1.2
pytest-benchmark
pytest-cov>=3.0.0
pytest-mock>=3.7.0
pytest-xdist>=2.5.0
pytest-split
flaky>=3.7.0
jax[cpu]==0.5.3; python_version <= "3.12"
git+https://github.com/PennyLaneAI/pennylane.git@master
