# Build Dependencies
build
ninja
pybind11>=2.12.0
cmake
scipy-openblas32
custatevec-cu12; sys_platform == "linux"
cutensornet-cu12; sys_platform == "linux"
git+https://github.com/PennyLaneAI/pennylane.git@master

# Testing Dependencies
pytest>=7.1.2
pytest-benchmark
pytest-cov>=3.0.0
pytest-mock>=3.7.0
pytest-xdist>=2.5.0
pytest-split
flaky>=3.7.0
jax[cpu]==0.6.0; (platform_machine != "x86_64" or platform_system != "Darwin")

# Formatting / Linting Dependencies
pre-commit>=2.19.0
black>=21
clang-tidy~=20.1
clang-format~=20.1
isort==5.13.2
pylint==2.7.4
click==8.2.1
