pip==23.0
git+https://github.com/PennyLaneAI/pennylane.git@master
ninja
flaky
pybind11
pytest
pytest-benchmark
pytest-cov
pytest-mock
pytest-xdist
pre-commit>=2.19.0
black==23.7.0
clang-format==14
custatevec-cu11
pylint
