pip~=22.0
git+https://github.com/PennyLaneAI/pennylane.git@v0.36.0-rc0
ninja
flaky
pybind11
pytest~=8.0.0
pytest-benchmark
pytest-cov
pytest-mock
pytest-split
pytest-xdist
pre-commit>=2.19.0
black==24.3.0
clang-tidy~=16.0
clang-format~=16.0
isort==5.13.2
click==8.0.4
cmake
custatevec-cu12
pylint
scipy~=1.12.0
quimb
