# Build Dependencies
ninja
scipy-openblas32>=0.3.26

# Testing Dependencies
pytest>=8.4.1
pytest-cov>=3.0.0
pytest-mock>=3.7.0
pytest-rng
pytest-xdist>=2.5.0
flaky>=3.7.0 # For pl-device-test
pennylane>=0.41

# Formatting / Linting Dependencies
black>=21
clang-tidy~=20.1
clang-format~=20.1
isort==5.13.2
pylint==2.7.4
