# Build Dependencies
build
wheel
pybind11
tomlkit
custatevec-cu12; sys_platform == "linux"
cutensornet-cu12; sys_platform == "linux"
git+https://github.com/PennyLaneAI/pennylane.git@master

# Documentation / Formatting / Linting Dependencies
breathe
docutils==0.20
exhale>=0.3.3
graphviz
sphinx==8.1
sphinx-automodapi==0.19
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-serializinghtml==2.0.0
pennylane-sphinx-theme
sphinxext-opengraph==0.9.0
matplotlib==3.8.0
