# Build Dependencies
build
wheel
pybind11
tomlkit
custatevec-cu12; sys_platform == "linux"
cutensornet-cu12; sys_platform == "linux"
git+https://github.com/PennyLaneAI/pennylane.git@v0.42.0-rc0

# Documentation / Formatting / Linting Dependencies
breathe
docutils==0.16
exhale>=0.3.3
graphviz
sphinx
sphinx-automodapi
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-serializinghtml==1.1.5
pennylane-sphinx-theme
sphinxext-opengraph
matplotlib
