breathe
docutils==0.16
exhale
graphviz
pybind11
sphinx
sphinx-automodapi
# TODO: Use the Xanadu-Sphinx-Theme package on PyPI once it has been released.
git+https://github.com/XanaduAI/xanadu-sphinx-theme@phoenix#egg=xanadu_sphinx_theme
