# TODO: verify the contents of this file against what the device reports.
schema = 2

# The union of all gate types listed in this section must match what
# the device considers "supported" through PennyLane's device API.
[operators.gates.native]

Identity               = { properties = [ "differentiable" ] }
PauliX                 = { properties = [ "differentiable" ] }
PauliY                 = { properties = [ "differentiable" ] }
PauliZ                 = { properties = [ "differentiable" ] }
Hadamard               = { properties = [ "differentiable" ] }
S                      = { properties = [ "differentiable" ] }
T                      = { properties = [ "differentiable" ] }
PhaseShift             = { properties = [ "differentiable" ] }
RX                     = { properties = [ "differentiable" ] }
RY                     = { properties = [ "differentiable" ] }
RZ                     = { properties = [ "differentiable" ] }
Rot                    = { properties = [ "differentiable" ] }
CNOT                   = { properties = [ "differentiable" ] }
CY                     = { properties = [ "differentiable" ] }
CZ                     = { properties = [ "differentiable" ] }
SWAP                   = { properties = [ "differentiable" ] }
CSWAP                  = { properties = [ "differentiable" ] }
Toffoli                = { properties = [ "differentiable" ] }
IsingXX                = { properties = [ "differentiable" ] }
IsingXY                = { properties = [ "differentiable" ] }
IsingYY                = { properties = [ "differentiable" ] }
IsingZZ                = { properties = [ "differentiable" ] }
ControlledPhaseShift   = { properties = [ "differentiable" ] }
CRX                    = { properties = [ "differentiable" ] }
CRY                    = { properties = [ "differentiable" ] }
CRZ                    = { properties = [ "differentiable" ] }
CRot                   = { properties = [ "differentiable" ] }
SingleExcitation       = { properties = [ "differentiable" ] }
SingleExcitationPlus   = { properties = [ "differentiable" ] }
SingleExcitationMinus  = { properties = [ "differentiable" ] }
DoubleExcitation       = { properties = [ "differentiable" ] }
DoubleExcitationPlus   = { properties = [ "differentiable" ] }
DoubleExcitationMinus  = { properties = [ "differentiable" ] }
MultiRZ                = { properties = [ "differentiable" ] }
QubitUnitary           = { properties = [ "differentiable" ] }
GlobalPhase            = { properties = [ "differentiable" ] }

# Operators that should be decomposed according to the algorithm used
# by PennyLane's device API.
# Optional, since gates not listed in this list will typically be decomposed by
# default, but can be useful to express a deviation from this device's regular
# strategy in PennyLane.
[operators.gates.decomp]

BasisState             = {}
QFT                    = {}
QubitStateVector       = {}
StatePrep              = {}
MultiControlledX       = {}

# Gates which should be translated to QubitUnitary
[operators.gates.matrix]

BlockEncode            = {properties = [ "controllable" ]}
GlobalPhase            = {properties = [ "controllable" ]}
ControlledQubitUnitary = {}
ECR                    = {}
SX                     = {}
ISWAP                  = {}
PSWAP                  = {}
SISWAP                 = {}
SQISW                  = {}
OrbitalRotation        = {}
QubitCarry             = {}
QubitSum               = {}
DiagonalQubitUnitary   = {}

# Observables supported by the device
[operators.observables]

Identity               = {}
PauliX                 = {}
PauliY                 = {}
PauliZ                 = {}
Hadamard               = {}
Hermitian              = {}
Hamiltonian            = {}
SparseHamiltonian      = {}

[measurement_processes]

Expval                 = {}
Var                    = {}
Probs                  = {}
State                  = { condition = [ "analytic" ] }
Sample                 = { condition = [ "finiteshots" ] }
Counts                  = { condition = [ "finiteshots" ] }

[compilation]
# If the device is compatible with qjit
qjit_compatible = false
# If the device requires run time generation of the quantum circuit.
runtime_code_generation = false
# If the device supports mid circuit measurements natively
mid_circuit_measurement = false

# This field is currently unchecked but it is reserved for the purpose of
# determining if the device supports dynamic qubit allocation/deallocation.
dynamic_qubit_management = false

# whether the device can support non-commuting measurements together 
# in a single execution
non_commuting_observables = true

# Whether the compilation pass should optimize the first
# state preparation as a SetState operation.
initial_state_prep = true
