name: Benchmarking
on:
  pull_request:
  push:
    branches:
      - master

env:
  GCC_VERSION: 10

jobs:
  benchmarks:
    strategy:
      matrix:
        os: [ubuntu-22.04]

    name: Gate benchmarks
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y -q install cmake gcc-10 g++-10 ninja-build libopenblas-dev

      - name: Build GBenchmark
        run: |
            cmake pennylane_lightning/src/ -BBuildGBench -DBUILD_BENCHMARKS=ON -DENABLE_BLAS=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER="$(which g++-$GCC_VERSION)" -G Ninja
            cmake --build ./BuildGBench  --parallel 2

      - name: Run GBenchmark
        run: |
            ./BuildGBench/benchmarks/utils
            ./BuildGBench/benchmarks/apply_operations
