name: Benchmarking
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  benchmarks:
    name: Gate benchmarks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]

    steps:

      - name: Checkout PennyLane-Lightning master
        uses: actions/checkout@v2
        with:
          path: main

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: sudo apt-get -y -q install cmake gcc

      - name: Get required Python packages
        run: |
          cd main
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install matplotlib

      - name: Install lightning.qubit device (master)
        run: |
          cd main
          pip install -e .

      - name: Benchmark lightning master device
        run: |
          cd main
          python .github/workflows/benchmarks/run_bench.py lightning.qubit lightning_master.json

      - name: Benchmark default qubit device
        run: |
          cd main
          python .github/workflows/benchmarks/run_bench.py default.qubit default_qubit.json

      - name: Checkout PennyLane-Lightning PR
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          path: main/pr

      - name: Install lightning.qubit device (PR)
        run: |
          cd main/pr
          pip install -e .

      - name: Benchmark lightning PR device
        run: |
          cd main/pr
          python .github/workflows/benchmarks/run_bench.py lightning.qubit lightning_pr.json
          mv lightning_pr.json ..

      - name: Plot results
        run: |
          cd main
          python .github/workflows/benchmarks/plot_results.py

      - uses: actions/upload-artifact@v2
        with:
          name: gates.png
          path: ./main/gates.png
