name: Compat Check w/PL - release/release

on:
  workflow_dispatch:

jobs:
  tests_lgpu_python:
    name: Lightning Compatibility test (tests_lgpu_python) - release/release
    uses: ./.github/workflows/tests_lgpu_python.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
  tests_lgpumpi_python:
    name: Lightning Compatibility test (tests_lgpumpi_python) - release/release
    uses: ./.github/workflows/tests_lgpumpi_python.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
  tests_lqcpu_python:
    name: Lightning Compatibility test (tests_lqcpu_python) - release/release
    uses: ./.github/workflows/tests_lqcpu_python.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
  tests_lkcpu_python:
    name: Lightning Compatibility test (tests_lkcpu_python) - release/release
    uses: ./.github/workflows/tests_lkcpu_python.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
  tests_lkcuda_python:
    name: Lightning Compatibility test (tests_lkcuda_python) - release/release
    uses: ./.github/workflows/tests_lkcuda_python.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
  tests_without_binary:
    name: Lightning Compatibility test (tests_without_binary) - release/release
    uses: ./.github/workflows/tests_without_binary.yml
    with:
      lightning-version: release
      pennylane-version: release
    secrets: inherit
    