name: Compat Check w/PL - latest/stable

on:
  # pull_request:
  schedule:
    - cron: "0 1 * * 1-5"  # Run daily at 3am Mon-Fri
  workflow_dispatch:

jobs:
  tests_linux:
    name: Lightning Compatibility test (tests_linux) - latest/stable
    uses: ./.github/workflows/tests_linux.yml
    with:
      lightning-version: latest
      pennylane-version: stable
  tests_gpu:
    name: Lightning Compatibility test (tests_gpu) - latest/stable
    uses: ./.github/workflows/tests_gpu_kokkos.yml
    with:
      lightning-version: latest
      pennylane-version: stable
  tests_without_binary:
    name: Lightning Compatibility test (tests_without_binary) - latest/stable
    uses: ./.github/workflows/tests_without_binary.yml
    with:
      lightning-version: latest
      pennylane-version: stable
