name: Formatting check
on:
  #pull_request:
  push:
    branches:
      - master

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

jobs:
  black:
    name: Format (Python)
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v4

      - name: Install dependencies
        run:
            python -m pip install -r requirements-dev.txt

      - name: Run isort & black --check
        run: make format-python check=1 verbose=1

  format-cpp:
    name: Format (C++)
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install python3 python3-pip && python -m pip install pip~=22.0 && python3 -m pip install -r requirements-dev.txt

      - name: Run formatter
        run: PATH=$PATH:/home/ubuntu/.local/bin/:$(dirname $(which python3))/ ./bin/format --check ./pennylane_lightning/core/src

  tidy-cpp:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        pl_backend: ["lightning_qubit"]

    name: Tidy (C++)
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install cmake gcc-11 g++-11 ninja-build libomp-14-dev && python -m pip install -r requirements-dev.txt
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Run clang-tidy compilation
        run: |
          cmake -BBuild -G Ninja . \
            -DENABLE_CLANG_TIDY=ON \
            -DCLANG_TIDY_BINARY=$(dirname $(which python))/clang-tidy \
            -DBUILD_TESTS=ON \
            -DENABLE_WARNINGS=ON \
            -DPL_BACKEND=${{ matrix.pl_backend }} \
            -DCMAKE_CXX_COMPILER="$(which g++-11)" \
            -DCMAKE_C_COMPILER="$(which gcc-11)"
          cmake --build ./Build
