name: Formatting check
on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

jobs:
  black:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run:
            python -m pip install click==8.0.4 black==23.7.0

      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v3

      - name: Run Black
        run: black -l 100 pennylane_lightning/ tests/ --check

  format-cpp:
    name: Format (C++)
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install python3 python3-pip && python3 -m pip install -r requirements-dev.txt

      - name: Run formatter
        run: PATH=$PATH:$(dirname $(which python3)) ./bin/format --check ./pennylane_lightning/core/src

  tidy-cpp:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        pl_backend: ["lightning_qubit"]

    name: Tidy (C++)
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install cmake clang-16 ninja-build libomp-dev && python -m pip install -r requirements-dev.txt
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Run clang-tidy compilation
        run: |
          cmake -BBuild -G Ninja . \
            -DENABLE_CLANG_TIDY=ON \
            -DCLANG_TIDY_BINARY=$(dirname $(which python))/clang-tidy \
            -DBUILD_TESTS=ON \
            -DENABLE_WARNINGS=ON \
            -DPL_BACKEND=${{ matrix.pl_backend }} \
            -DCMAKE_CXX_COMPILER="$(which clang++-16)" \
            -DCMAKE_C_COMPILER="$(which clang-16)"
          cmake --build ./Build