name: Formatting check
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run:
            python -m pip install --upgrade pip
            pip install black

      - uses: actions/checkout@v2

      - name: Run Black
        run: black -l 100 pennylane_lightning/ tests/ --check

  tidy-cpp:
    name: Tidy (C++)
    runs-on: ubuntu-20.04

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install clang-tidy-12 cmake g++
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run clang-tidy compilation
        run: |
          cmake -BBuild -DENABLE_CLANG_TIDY=ON -DCLANG_TIDY_BINARY=clang-tidy-12 -DBUILD_EXAMPLES=ON -DBUILD_TESTS=on -DENABLE_WARNINGS=on .
          cmake --build ./Build

  format-cpp:
    name: Format (C++)
    runs-on: ubuntu-20.04

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Install dependencies
        run: sudo apt update && sudo apt -y install clang-format-12 python3

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run formatter
        run: ./bin/format --check ./pennylane_lightning/src
