name: Manually Triggered Version Bumps

on:
  workflow_dispatch:

jobs:
  pre_release_version_bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pennylane

      - name: Run version bump
        run: >
          python .github/workflows/vb_script.py
          --version_path "./pennylane_lightning/core/_version.py"
          --changelog_path "./.github/CHANGELOG.md" --pre_release

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: pre release version bump
          title: Version Bump
          body: updated changelog and _version.py
          branch: pre-release-version-bump
          reviewers: mlxd
          base: master
