name: Set wheel build matrix

env:
  PYTHON3_MIN_VERSION: "9"
  PYTHON3_MAX_VERSION: "12"

on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string
    outputs:
      python_version:
        description: "Python versions."
        value: ${{ jobs.set-builder-matrix.outputs.python_version }}
      exec_model:
        description: "The execution model for Kokkos."
        value: ${{ jobs.set-builder-matrix.outputs.exec_model }}
      kokkos_version:
        description: "Kokkos version"
        value: ${{ jobs.set-builder-matrix.outputs.kokkos_version }}

concurrency:
  group: set_wheel_build_matrix-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  set-builder-matrix:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v4

      - name: Python version
        id: pyver
        run: |
          if [[ ${{ inputs.event_name }} == 'pull_request' ]]; then
            echo "python_version=$(python3 scripts/gen_pyver_matrix.py \
              --min-version=3.${{ env.PYTHON3_MIN_VERSION }} \
              --max-version=3.${{ env.PYTHON3_MAX_VERSION }})" >> $GITHUB_OUTPUT
          else
            echo "python_version=$(python3 scripts/gen_pyver_matrix.py \
              --min-version=3.${{ env.PYTHON3_MIN_VERSION }} \
              --max-version=3.${{ env.PYTHON3_MAX_VERSION }} --range)" >> $GITHUB_OUTPUT
          fi

      - name: Kokkos execution strategy
        id: exec_model
        run: echo "exec_model=[\"OPENMP\"]" >> $GITHUB_OUTPUT # We may also adopt [THREADS] in later iterations

      - name: Kokkos version
        id: kokkos_version
        run: echo "kokkos_version=[\"4.3.01\"]" >> $GITHUB_OUTPUT

    outputs:
      python_version: ${{ steps.pyver.outputs.python_version }}
      exec_model: ${{ steps.exec_model.outputs.exec_model }}
      kokkos_version: ${{ steps.kokkos_version.outputs.kokkos_version }}