name: Testing
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  cpptests:
    name: C++ tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y -q install cmake gcc

      - name: Build and run unit tests
        run: |
            cd pennylane_lightning/src/tests
            cmake . -BBuild  -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=1
            cmake --build ./Build
            ./Build/tests/runner --order lex --reporter junit --out Build/test/results/report.xml

      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: ubuntu-test-report
          path: Build/test/results/report.xml

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          check_name: Test Report (C++) on Ubuntu
          files: Build/test/results/report.xml

  pythontests:
    name: Python tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]

    steps:

      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v2
        with:
          path: main

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y -q install cmake gcc

      - name: Get required Python packages
        run: |
          cd main
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install lightning.qubit device
        run: |
          cd main
          pip install -e .

      - name: Run PennyLane-Lightning unit tests
        run: |
          cd main/
          pytest tests/ --cov=pennylane_lightning --cov-report term-missing --cov-report=xml:../coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.12
        with:
          file: coverage.xml

      - name: Run PennyLane shared test suite
        run: |
          pl-device-test --device lightning.qubit --skip-ops --shots=20000
          pl-device-test --device lightning.qubit --shots=None --skip-ops
