name: Wheel::MacOS::ARM
on:
  push:
    branches:
      - master
  pull_request:
  release:

env:
  CIBW_BUILD: 'cp37-* cp38-* cp39-*'

  # MacOS specific build settings
  CIBW_BEFORE_ALL_MACOS: |
    brew uninstall --force oclint

  # Python build settings
  CIBW_BEFORE_BUILD: |
    pip install pybind11 ninja

  # Testing of built wheels
  CIBW_TEST_REQUIRES: numpy==1.19.5 scipy pytest pytest-cov pytest-mock flaky

  CIBW_TEST_COMMAND: |
    pl-device-test --device=lightning.qubit --skip-ops -x --tb=short --no-flaky-report

  CIBW_BUILD_VERBOSITY: 1

jobs:
  mac-wheels-arm64:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11]
        arch: [arm64]
    name: macos-latest::arm64
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.12.0

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS_MACOS: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        # if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' }}
        with:
          name: ${{ runner.os }}-wheels.zip
          path: ./wheelhouse/*.whl
