name: Wheel::Any::None

# **What it does**: Builds a pure python wheel for Linux (ubuntu-latest) and store it as an artifact.
#                   Python version: 3.8.
# **Why we have it**: To test the wheel build in the python layer, with no compilation.
# **Who does it impact**: Wheels to be uploaded to PyPI.

on:
  pull_request:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  build-pure-python-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v3
        with:
          path: main

      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Build wheels
        run: |
          cd main
          pip install . -vv --no-clean | tee log.txt
        env:
          SKIP_COMPILATION: True

      - name: Validate wheels
        run: |
          WHEEL_PATH=`cat log.txt | grep "Stored in directory" | cut -d ':' -f 2`
          python -m pip install twine
          python -m twine check ${WHEEL_PATH}/*.whl

      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' }}
        with:
          name: pure-python-wheels.zip
          path: main/dist/*.whl

  upload-pypi:
    needs: build-pure-python-wheel
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' }}
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: pure-python-wheels.zip
          path: dist

      - name: Upload wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
