name: Wheel::Linux::x86_64
on:
  release:
  push:
    branches:
      - master
  pull_request:


env:
  CIBW_BUILD: 'cp37-* cp38-* cp39-* cp310-*'

  # Python build settings
  CIBW_BEFORE_BUILD: |
    pip install pybind11 ninja && yum install -y cmake gcc gcc-c++

  # Testing of built wheels
  CIBW_TEST_REQUIRES: numpy~=1.21 scipy pytest pytest-cov pytest-mock flaky

  CIBW_TEST_COMMAND: |
    pl-device-test --device=lightning.qubit --skip-ops -x --tb=short --no-flaky-report

  CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014

jobs:
  linux-wheels-x86-64:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [x86_64]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.3.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS_LINUX: ${{matrix.arch}}

      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' }}
        with:
          name: ${{ runner.os }}-wheels.zip
          path: ./wheelhouse/*.whl
