name: Wheel::MacOS::Intel

# **What it does**: Builds python wheels for MacOS (10.15) architecture x86_64 and store it as artifacts.
#                   Python versions: 3.8, 3.9, 3.10, 3.11.
# **Why we have it**: To build wheels for pennylane-lightning installation.
# **Who does it impact**: Wheels to be uploaded to PyPI.

on:
  pull_request:
  push:
    branches:
      - master
  release:
    types: [published]

env:
  MACOSX_DEPLOYMENT_TARGET: 10.15

jobs:
  set_wheel_build_matrix:
    name: "Set wheel build matrix"
    uses: ./.github/workflows/set_wheel_build_matrix.yml
    with:
      event_name: ${{ github.event_name }}

  mac-wheels-x86:
    needs: [set_wheel_build_matrix]
    strategy:
      fail-fast: false
      matrix:
        os: [macos-12]
        arch: [x86_64]
        cibw_build: ${{fromJson(needs.set_wheel_build_matrix.outputs.python_version)}}
        exec_model: ${{ fromJson(needs.set_wheel_build_matrix.outputs.exec_model) }}

    name: ${{ matrix.os }} (Python ${{ fromJson('{ "cp38-*":"3.8","cp39-*":"3.9","cp310-*":"3.10","cp311-*":"3.11" }')[matrix.cibw_build] }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel~=2.11.0

      - name: Build wheels
        env:
          CIBW_BUILD: ${{ matrix.cibw_build }}

          # MacOS specific build settings
          CIBW_BEFORE_ALL_MACOS: |
            brew uninstall --force oclint
            brew install libomp

          # Python build settings
          CIBW_BEFORE_BUILD: |
            python -m pip install pybind11 ninja cmake~=3.24.0 setuptools

          # Testing of built wheels
          CIBW_TEST_REQUIRES: pytest pytest-cov pytest-mock flaky

          CIBW_BEFORE_TEST: python -m pip install git+https://github.com/PennyLaneAI/pennylane.git@master

          CIBW_TEST_COMMAND: |
            pl-device-test --device=lightning.qubit --skip-ops -x --tb=short --no-flaky-report

          CIBW_BUILD_VERBOSITY: 1

          CIBW_ARCHS_MACOS: ${{matrix.arch}}

        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - name: Validate wheels
        run: |
          python -m pip install twine
          python -m twine check ./wheelhouse/*.whl

      - uses: actions-ecosystem/action-regex-match@v2
        id: rc_build
        with:
          text: ${{ github.event.pull_request.head.ref }}
          regex: '.*[0-9]+.[0-9]+.[0-9]+[-_]?rc[0-9]+'

      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' || steps.rc_build.outputs.match != ''}}
        with:
          name: ${{ runner.os }}-wheels-${{ matrix.arch }}.zip
          path: ./wheelhouse/*.whl

  upload-pypi:
    needs: mac-wheels-x86
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: macOS-wheels-x86_64.zip
          path: dist

      - name: Upload wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
