name: Wheel::Any::None
on:
  push:
    branches:
      - master
  pull_request:
  release:

jobs:
  build-pure-python-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PennyLane-Lightning
        uses: actions/checkout@v2
        with:
          path: main

      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@latest

      - name: Build wheels
        run: |
          python -m pip install --upgrade pip wheel
          cd main
          python setup.py bdist_wheel
        env:
          SKIP_COMPILATION: True

      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'release' || github.ref == 'refs/heads/master' }}
        with:
          name: pure-python-wheels
          path: main/dist/*.whl
