name: Wheels
on:
  push:
    branches:
      - master

env:
  CIBW_BUILD: 'cp37-* cp38-* cp39-*'

  # Python build settings
  CIBW_BEFORE_BUILD: |
    pip install pybind11 ninja && yum install -y openblas openblas-devel cmake gcc gcc-c++

  # Testing of built wheels
  CIBW_TEST_REQUIRES: numpy==1.19.5 scipy pytest pytest-cov pytest-mock flaky

  CIBW_TEST_COMMAND: |
    pl-device-test --device=lightning.qubit --skip-ops -x --tb=short --no-flaky-report

  # Use Centos 7 wheel-builder for ARM
  CIBW_MANYLINUX_AARCH64_IMAGE: manylinux2014

jobs:
  linux-wheels-aarch64:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [aarch64]
    name: ubuntu-latest::aarch64
    runs-on: ${{ matrix.os }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: docker/setup-qemu-action@v1
        name: Set up QEMU

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.12.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS_LINUX: ${{matrix.arch}}

      - uses: actions/upload-artifact@v2
        if: github.ref == 'refs/heads/master'
        with:
          name: ${{ runner.os }}-wheels.zip
          path: ./wheelhouse/*.whl
